.DS_Store
__pycache__/
data/
reports/
reports-lambda-search/
lambda-search/

table_fmnist_cifar10_times.tex
table_fmnist_cifar10.tex
table_gtsrb_times.tex
table_gtsrb.tex

*.pdf
!figures/*.pdf

*.aux
*.fdb_latexmk
*.fls
*.log